ok-script>=1.0.159
numpy>=2.4.0
opencc>=1.2.0
adbutils>=2.8.0
onnxocr-ppocrv5>=0.0.18
openvino>=2026.1.0
opencv-python>=4.13.0.92
pillow>=12.0.0
pydirectinput>=1.0.4
pynput>=1.8.1
pyside6==6.9.1
pyside6-fluent-widgets
psutil>=7.2.2
comtypes>=1.4.16
pywin32>=306; platform_system == "Windows"
